// <uniquifier>: Use a uniquifier for the class name
// <weight>: Use a value from 300 to 800

body {
  font-family: 'Lato', sans-serif;
  font-family: 'Open Sans', Sans-serif;
  
}

.text-primary{

    color: #FD6E0A;
}

.button-primary{

    border-radius: 05px;
    background-color: #FD6E0A;
    border: 0px;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
}

nav {

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}

nav > ul{

    display: flex;
    align-items: center;
}

nav li{

    list-style: none;
    margin-right: 50px;
   
}

nav a{

    text-decoration: none;
    color: #474747;
}
.nav-title{
    color: #181818;
    font-family: open Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.header{

    background-color:#FFF8F3;
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}

.banner {

    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner .profile-pic {

    width: 550px;
}

.banner-greeting {

    font-size: 45px;
    color: #474747;

}

.banner-title {

    font-size: 85px;
    font-style: normal;
    font-weight: 700;
    margin-top: 0;

}

.Manu-bar {

    font-size: 25px;
}

.head-pragrap {

    font-size: 18px;
}

.banner-content {

    max-width: 500px;
}

.About-us {

    text-align: center;
    background-color: #FFF8F3;
    margin: 50px 60px;
    padding: 80px;
}

.About-title{

    font-size: 35px;
    text-align: center;
}

.about-Descraption {

    font-size: 18px;
    text-align: center;
}

main {

    max-width: 1140px;
    margin: 0 auto;
}

.author-info {

    display: flex;
    justify-content:space-around;
}

.author-descraption {

    
}

.skill {

    display: flex;
    padding: 30px;
    text-align: center;
    gap: 30px;
    border-radius: 05px;
    background-color: #FFF;
    box-shadow: 0px 06px 50px 0px rgb(0, 0, 0, 0.06);
}

.skill-container {

    color: #757575;


}

.resume-colum-title {

      color: #474747;
      font-family: Open Sans;
      font-style: normal;
      font-weight: 700;
      font-size: 30px;

}

.resume-container {

    display: flex;
    gap: 30px;
}

.resume-item-description, .resume-item-institute {

    color: #474747;
}

.resume-item-institute {

    color: #474747;
    font-family: Open Sans;
    font-family: normal;
    font-weight: 700;


}

.resume-container hr{

    margin: 30px;
    color: #FFF8F3;
}

.downlod-cv {

    text-align: center;
    margin: 50px;
}

footer{
    display: flex;
    background: #FFF8F3;
    margin-top: 100PX;
    padding: 130PX 200PX;
    gap: 100px;
   
}

.section-title {

      color: #474747;
      font-family: Open Sans;
      font-style: normal;
      font-weight: 700;
      font-size: 30px;
}

.footer-colum{

    width: 50%;

}

.contact input[type="text"], input[type="email"], textarea {

    display: block;
    margin-bottom: 40px;
    padding: 18px 35px;
    color: #757575;
    border-radius: 05px;
    background-color: #FFF;
    border: 0;
    font-size: 20px;
    width: 80%;
}